<div class="flex flex-wrap">
  <div class="w-full md:w-2/3">
    <div class="card shadow">
      <div class="card-header md:flex justify-between">
        <h5 class="card-title">
          Listing Products
        </h5>
        <%= f = form_for @changeset, "#", phx_change: "search", as: "search" %>
          <%= label f, :search_phrase, class: "tag-label" do %>
            <div class="tag-icon">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>
              <%= text_input f, :search_phrase, class: "tag-input", phx_debounce: 500, placeholder: "Search product" %>
            </div>
          <% end %>
        </form>
      </div>
      <div class="card-body prose max-w-full">
        <table class="table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Description</th>
              <th>Price</th>

              <th></th>
            </tr>
          </thead>
          <tbody id="products">
<%= for product <- @products do %>
            <tr id="product-<%= product.id %>">
              <td><%= product.name %></td>
              <td><%= product.description %></td>
              <td><%= product.price %></td>

              <td class="text-right">
                <span><%= live_redirect "Show", to: Routes.product_show_path(@socket, :show, product.slug) %></span>
              </td>
            </tr>
<% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
